<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - BillUp</title>
    <th:block th:replace="~{fragments/libs :: libs}"></th:block>
    <style>
        body { background-color: #f8f9fa; height: 100vh;}
        .login-container { min-width: 400px; background: white; padding: 30px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
    </style>
</head>
<body>

<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
	<h1 class="text-center mt-4">Bill<span class="text-primary">Up</span></h1>
    <div class="login-container">
        <h2 class="text-center mb-4">Login</h2>
        
        <form action="/login" method="POST">
            
            <div class="mb-3">
                <label for="username" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="username" name="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-success w-100">Entrar</button>
            
        </form>
    </div>
</div>

</body>
</html>